<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
        <p class="block__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, tenetur! Nostrum asperiores rem reprehenderit ad!</p>
    </header>
</section>

<section class="block block--dark block--skewed-right">
        <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
            <p class="block__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, tenetur! Nostrum asperiores rem reprehenderit ad!</p>
        </header>
        </div> 
</section>